
body {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100%;
    background-color: rgb(22, 19, 22);

}
main {
    width: 100vw;
}
#logo  {
    margin-top: 20px;
    height: 70px;
    text-align:center;
    font-size: 60px;
   
}
#logoImage {
    margin-top: 0;
    float: left;
}
#welcome{
  display:block;
  position: absolute;
  text-align: center;
  top: 20%;
  left:20vw;
  width: 60vw;
  border-radius: 30px;
  padding: 10px;
  background-color: rgb(47, 50, 56);
  opacity: 0.8;
  color: white;
  transition-property: opacity;
  transition-duration: 1s;
  z-index: 4;
  font-size: 52pt;
}

#sky-section {
    margin: auto;
    margin-top: 0px;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 2;
    background-size: cover;
}
#imagesContainer{
  position: relative;
  overflow: hidden;
  height: 600px;
} 
img{
  position: absolute;
}
/* #background {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
} */


/* #backhome, #dark-mode {
    float: right;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:33px;
	border:4px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:24px;
	padding:15px 52px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d12da8;
} */

.lightImage {
  color: rgba(77, 184, 231, 0.4668);
}

#foreground{
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100%;
  width: 1000px;
  z-index: 3;
  background-size: contain;
}

#contents{
  height:100;
  z-index: 1;
}


  #foreground{
      background-position: bottom;
      background-repeat: no-repeat;
      bottom: 0;
      height: auto;
      width: 100%;
      z-index: 3;
      background-size: contain;
  }
  #contents{
      height:100;
      z-index: 1;
  }
  

  

/* Quote Style stuff */
#quotes{
  border-radius: 50px;
  height:100px;
  width:60vw;
  position:absolute;
  margin:auto;
  top:50vh;
  left:20vw;
  padding: 20px;
}
#inspQuote{
  position:relative;
  text-align: center;
  padding:10px;
  display:block;
  color:azure;
  opacity: 0;
  background-color: cornflowerblue;
  border-radius: 10px;

}
@keyframes inspFly2{
  0%{
    opacity:0;
    bottom: -20px;
  }
  5%{
    opacity:0.5;
    bottom:0px;
  }
  85%{
    opacity:0.5;
    bottom:0px;
  }
  90%{
    opacity:0;
    bottom: 20px;
  }
  100%
  {
    opacity:0;
    bottom: 20px;
  }
} 

/* bottom controls */
#fly{
  position:relative;
  transition-property: top;
  top: 40px;
  transition-duration: 0.5s;
}
#fly img{
  position:relative;
  display:block;
  margin:auto;
  height: 25px;
  width:auto;
  transform: scaleY(-1);
  transition-property: transform;
  transition-duration: 0.5s;
}
#hidden-controls{
  display:grid;
  text-align: center;
  grid-template-columns: 33%;
  background-color: #2a2a35;
  border-radius: 25px;
  height: 75px;
  opacity: 0;
  transition-property: opacity;
  transition-duration:0.5s;
}
audio{
  height:25px;
  width: 90%;
  grid-column: 1;
  margin: auto;
}
#backhome, #dark-mode {
box-shadow: 0px 0px 0px 2px #9fb4f2;
background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
background-color:#7892c2;
border-radius:33px;
border:4px solid #4e6096;
cursor:pointer;
color:#ffffff;
font-family:Georgia;
font-size: medium;
text-decoration:none;
text-shadow:0px 1px 0px #d12da8;
grid-column: 3;
margin: auto;
box-sizing: border-box;
height: 25px;
}
#timer{
  display:block;
  width:90%;
  height:25px;
  text-align:center;
  grid-column: 2;
  margin: auto;
  background-color: cornflowerblue;
  border-radius: 10px;
}